BEGIN:VCALENDAR
PRODID:-//Dean Sanvitale//feed2ical 0.0.2//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-TIMEZONE:UTC
X-WR-CALNAME:{{d.feed.title_text|safe}}
X-WR-CALDESC:{{d.feed.description_text|safe}}
{% for entry in d.entries %}BEGIN:VEVENT
UID:{{entry.link}}
DTSTAMP:{{entry.datetime_ical}}{% if d.feed.author_detail.email %}
ORGANIZER:MAILTO:{{d.feed.author_detail.email}}{% endif %}
DTSTART{% if entry.all_day %};VALUE=DATE{% endif %}:{{entry.start_ical}}
DTEND{% if entry.all_day %};VALUE=DATE{% endif %}:{{entry.end_ical}}
URL:{{entry.link}}
SUMMARY:{{entry.title_text|safe}}
DESCRIPTION:{{entry.description_text|safe}}
END:VEVENT
{% endfor %}END:VCALENDAR