BEGIN:VCALENDAR
PRODID:-//Dean Sanvitale//feed2ical 0.0.2//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-TIMEZONE:UTC
X-WR-CALNAME:{{d.feed.title_text}}
X-WR-CALDESC:{{d.feed.description_text}}
{% for entry in d.entries %}
BEGIN:VEVENT
UID:{{entry.link}}
DTSTAMP:{{entry.start_ical}}{% if d.feed.author_detail.email %}
ORGANIZER:MAILTO:{{d.feed.author_detail.email}}{% endif %}
DTSTART:{{entry.start_ical}}
DTEND:{{entry.end_ical}}
URL:{{entry.link}}
SUMMARY:{{entry.title_text}}
DESCRIPTION:{{entry.description_text}}
END:VEVENT
{% endfor %}
END:VCALENDAR